.logo {
    position: fixed;
    width: 200px;
    height: 35px;
    margin: 0 auto;
    display: block;
    font-size: 100px;
    padding-left: 110px;
    top: 10px;
}
.app{
    position: fixed;
    width: 200px;
    height: 35px;
    margin: 0 auto;
    display: block;
    padding-left: 20px;
    top: 75px;
    size: 50px;
    border-radius: 15px;
    left: 620px;
    align-content: center;
    background-color: #fefefe;
}
.reisplaner{
    position: fixed;
    width: 800px;
    height: 75px;
    margin: 0 auto;
    padding-left: 850px;
    top: 65px;
    size: 400px;
}
.unterkunft{
    position: fixed;
    width: 800px;
    height: 75px;
    margin: 0 auto;
    padding-left: 940px;
    top: 65px;
    size: 400px;
}
.meine{
    position: fixed;
    width: 800px;
    height: 75px;
    margin: 0 auto;
    padding-left: 1110px;
    top: 65px;
    size: 400px;
}
.hilfe{
    position: fixed;
    width: 800px;
    height: 75px;
    margin: 0 auto;
    padding-left: 1220px;
    top: 65px;
    size: 400px;
}
.anmelden{
    position: fixed;
    width: 800px;
    height: 75px;
    margin: 0 auto;
    padding-left: 1280px;
    top: 65px;
    size: 400px;
}
.mainImage{
    position: fixed;
    width: 2000px;
    height: 500px;
    margin: 0 auto;
    display: block;
    padding-left: 0px;
    top: 125px;
    size: 400px;
}
.alles{
    position: fixed;
    width: 800px;
    height: 175px;
    margin: 0 auto;
    padding-left: 80px;
    top: 305px;
    font-size: 50px;
    color: #fefefe;
    size: 400px;
}
.parentButton{
    position: fixed;
    width: 1380px;
    height: 75px;
    margin: 0 auto;
    display: block;
    left: 70px;
    top: 388px;
    size: 400px;
    border-radius: 20px;
}
.childButton1{
    position: fixed;
    width: 370px;
    height: 50px;
    margin: 0 auto;
    display: block;
    left: 90px;
    top: 400px;
    size: 250px;
    border-radius: 10px;
}
.childButton2{
    position: fixed;
    width: 380px;
    height: 50px;
    margin: 0 auto;
    display: block;
    left: 500px;
    top: 400px;
    size: 250px;
    border-radius: 10px;
    align-content: baseline;
}
.childButton3{
    position: fixed;
    width: 370px;
    height: 50px;
    margin: 0 auto;
    display: block;
    left: 920px;
    top: 400px;
    size: 250px;
    border-radius: 10px;
}
.childButton4{
    position: fixed;
    width: 120px;
    height: 50px;
    margin: 0 auto;
    display: block;
    left: 1310px;
    top: 400px;
    size: 250px;
    border-radius: 25px;
    background-color:#050f29
}
.suchen{
    color: #fefefe;
    font-size: large;
}
.download{
    position: fixed;
    width: 24px;
    height: 24px;
    left: 630px;
    top: 80px;
}
.location{
    position: fixed;
    width: 35px;
    height: 30px;
    left: 110px;
    top: 411px;
    size: 40px;
}
.date{
    position: fixed;
    width: 35px;
    height: 30px;
    left: 520px;
    top: 411px;
    size: 40px;
}
.comment{
    position: fixed;
    width: 35px;
    height: 30px;
    left: 97px;
    top: 695px;
    size: 40px;
}
.guest{
    position: fixed;
    width: 35px;
    height: 30px;
    left: 940px;
    top: 413px;
    size: 40px;
}
.titleLogo{
    width: 24px;
    height: 24px;
}
.herunterladen{
    position: fixed;
    width: 200px;
    height: 10px;
    left: 630px;
    top: 70px;
    font-size: 15px;
    size: 20px;
}
.hingen{
    position: fixed;
    width: 200px;
    height: 30px;
    left: 150px;
    top: 397px;
    font-size: 20px;
    size: 30px;
}

.realDates{
    position: fixed;
    width: 200px;
    height: 30px;
    left: 530px;
    top: 405px;
    font-size: 18px;
    size: 30px;
}
.realGuests{
    position: fixed;
    width: 200px;
    height: 30px;
    left: 925px;
    top: 405px;
    font-size: 18px;
    size: 30px;
}
.dates{
    position: fixed;
    top: 390px;
    left: 570px;
}
.guests{
    position: fixed;
    top: 390px;
    left: 980px;
}
.circle{
    position: fixed;
    height: 50px;  
    width: 50px; 
    border: 1px;  
    border-radius: 50%;  
    background-color: #6cc9fb;
    left: 90px;
    top: 685px;
}
.divi{
    position: fixed;
    top: 660px;
    width: 1380px;
    left: 70px;
    height: 100px;
    border-radius: 20px;
    background-color: #050f29;
}
.melde{
    position: fixed;
    width: 800px;
    height: 30px;
    left: 160px;
    top: 690px;
    font-size: 20px;
    size: 35px;
    color: #fefefe;

}
.anmelden1{
    position: fixed;
    width: 800px;
    height: 30px;
    left: 970px;
    top: 705px;
    font-size: 15px;
    size: 28px;
    color: #fefefe;
}
.beliebte{
    position: fixed;
    width: 800px;
    height: 30px;
    left: 75px;
    top: 770px;
    font-size: 35px;
    size: 50px;
    color: #0b0505;
    font-weight: 700;
}
.finde{
    position: fixed;
    width: 800px;
    height: 30px;
    left: 75px;
    top: 1100px;
    font-size: 35px;
    size: 50px;
    color: #0b0505;
    font-weight: 700;
}
.city1{
    position: fixed;
    width: 350px;
    height: 200px;
    left: 75px;
    top: 870px;
    border-radius: 20px;
    border: strong;
    background-color: #fefefe;
    border-color: #0b0505;
    border: 1px rgb(197, 195, 195) solid;
}
.city2{
    position: fixed;
    width: 350px;
    height: 200px;
    left: 450px;
    top: 870px;
    border-radius: 20px;
    border: strong;
    background-color: #fefefe;
    border-color: #0b0505;
    border: 1px rgb(197, 195, 195) solid;
}
.city3{
    position: fixed;
    width: 350px;
    height: 200px;
    left: 825px;
    top: 870px;
    border-radius: 20px;
    border: strong;
    background-color: #fefefe;
    border-color: #0b0505;
    border: 1px rgb(197, 195, 195) solid;
}
.city4{
    position: fixed;
    width: 350px;
    height: 200px;
    left: 1200px;
    top: 870px;
    border-radius: 20px;
    border: strong;
    background-color: #fefefe;
    border-color: #0b0505;
    border: 1px rgb(197, 195, 195) solid;
}
.city5{
    position: fixed;
    width: 350px;
    height: 200px;
    left: 1590px;
    top: 870px;
    border-radius: 20px;
    border: strong;
    background-color: #fefefe;
    border-color: #0b0505;
    border: 1px rgb(197, 195, 195) solid;
}
.kigali{
    position: fixed;
    width: 350px;
    height: 150px;
    left: 75px;
    top: 870px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.paris{
    position: fixed;
    width: 350px;
    height: 150px;
    left: 450px;
    top: 870px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.nairobi{
    position: fixed;
    width: 350px;
    height: 150px;
    left: 825px;
    top: 870px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.dubai{
    position: fixed;
    width: 350px;
    height: 150px;
    left: 1200px;
    top: 870px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.gisenyi{
    position: fixed;
    width: 350px;
    height: 150px;
    left: 1590px;
    top: 870px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.cityName1{
    position: fixed;
    width: 350px;
    height: 50px;
    left: -55px;
    top: 1030px;
    font-size: 18px;
    color: #0b0505;
    font-weight: 700;
}
.cityName2{
    position: fixed;
    width: 350px;
    height: 50px;
    left: 320px;
    top: 1030px;
    font-size: 18px;
    color: #0b0505;
    font-weight: 700;
}
.cityName3{
    position: fixed;
    width: 350px;
    height: 50px;
    left: 695px;
    top: 1030px;
    font-size: 18px;
    color: #0b0505;
    font-weight: 700;
}
.cityName4{
    position: fixed;
    width: 350px;
    height: 50px;
    left: 1070px;
    top: 1030px;
    font-size: 18px;
    color: #0b0505;
    font-weight: 700;
}
.cityName5{
    position: fixed;
    width: 350px;
    height: 50px;
    left: 1460px;
    top: 1030px;
    font-size: 18px;
    color: #0b0505;
    font-weight: 700;
}